@()(implicit flash: Flash)

@import helper._

@main("Upload") {
  @form(action = routes.Application.missionUpload, 'enctype -> "multipart/form-data") {
    
    <h1>Mission Upload</h1>
    
    <input type="file" name="mission">
    
    <p>
        <input type="submit" value="Upload Mission">
    </p>
    
	@flash.get("success").map { message =>
        <p class="success">
            @message
        </p>
    }
    
    @flash.get("error").map { message =>
    	<p class="error">
    		@message
    	</p>
    }
  }
}